<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:form id="menuForm">
        <p:menubar>
            <p:menuitem value="Início" url="index.xhtml"></p:menuitem>
            <p:submenu label="Tarefas">
                <p:menuitem value="Cadastrar" outcome="/tasks/cadastrar" />
                <p:menuitem value="Listar" outcome="/tasks/listar" />
            </p:submenu>
        </p:menubar>
    </h:form>
</ui:composition>

