<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/estrutura/template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="conteudo">
        <h:form id="cadastrar">
            <p:panelGrid columns="3">
                <p:outputLabel for="titulo" value="Título: " />
                <p:inputText id="titulo" value="#{taskBean.modelo.titulo}" required="true" label="Titulo"
                             requiredMessage="#{mensagens.mensagemCampoObrigatorio}">
                    <f:validateLength minimum="2" />
                </p:inputText>
                <p:message for="titulo" display="icon-text"/>

                <p:outputLabel for="descricao" value="Descrição: " />
                <p:inputText id="descricao" value="#{taskBean.modelo.descricao}" required="true" label="Descricao">
                    <f:validateLength minimum="2" />
                </p:inputText>
                <p:message for="descricao" display="text" />

                <p:outputLabel for="status" value="Status: " />
                <p:inputText id="status" value="#{taskBean.modelo.status}" required="true" label="Status">
                    <f:validateLength minimum="2" />
                </p:inputText>
                <p:message for="status" display="icon-text" />

                <p:outputLabel for="dataCriacao" value="Data de Criação: " />
                <p:password id="dataCriacao" value="#{taskBean.modelo.dataCriacao}" required="true" label="DataCriacao">
                    <f:validateLength minimum="2" />
                </p:password>
                <p:message for="dataCriacao" display="icon-text" />

                <p:outputLabel for="dataTarefa" value="Data da Tarefa: "/>
                <p:calendar id="dataNascimento" value="#{taskBean.modelo.dataTarefa}" mode="popup" pattern="dd/MM/yyyy" 
                            mask="true" required="true" label="Data da Tarefa"/>
                <p:message for="dataTarefa" display="icon"/>


            </p:panelGrid>
            <p:panelGrid columns="4">
                <p:button href="index.xtml" value="Cancelar" />

                <p:commandButton value="Limpar campos" />

                <p:commandButton value="Salvar" action="#{taskBean.cadastrar()}" update="cadastrar" />
            </p:panelGrid>

            <p:growl id="messages" rendered="#{not facesContext.validationFailed}" showDetail="true" sticky="true" />

        </h:form>
    </ui:define>
</ui:composition>