<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/estrutura/template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="conteudo">
        <h:form id="formul">
            <p:dataTable id="dados" value="#{taskBean.lista}" var="task"
                         rows="10" paginator="true" rowsPerPageTemplate="2,5,10,15"
                         emptyMessage="Nenhum registro encontrado."
                         filteredValue="#{taskBean.listaFiltro}"
                         >

                <p:column headerText="Id" sortBy="#{task.id}">
                    <h:outputText value="#{task.id}"></h:outputText>
                </p:column>
                <p:column headerText="Titulo" sortBy="#{task.titulo}">
                    <h:outputText value="#{task.titulo}"></h:outputText>
                </p:column>
                <p:column headerText="Data da Tarefa" sortBy="#{task.dataTarefa}">
                    <h:outputText value="#{task.dataTarefa}"></h:outputText>
                </p:column>

                <p:column headerText="Ação" exportable="false">
                    <p:commandButton id="btnAbrir" icon="ui-icon-search" value="Visualizar/Editar"
                                     action="editar.xhtml?faces-redirect=true" >
                        <f:setPropertyActionListener value="#{task}" target="#{taskBean.selecionado}" />
                    </p:commandButton>
                    <p:commandButton id="btnApagar" icon="ui-icon-trash" update=":formul:dados, messages" value="Apagar"
                                     action="#{taskBean.apagar(task)}" >
                    </p:commandButton>
                </p:column>


                <f:facet name="footer">

                </f:facet>
            </p:dataTable>
        </h:form>
        <p:growl id="messages" rendered="#{not facesContext.validationFailed}" showDetail="true" sticky="true" />
    </ui:define>
</ui:composition>